<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.ra-multiplex</string>
    <key>ProgramArguments</key>
    <array>
      <string>[PATH_TO_BIN]</string>
      <string>server</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>[HOME]/.cargo/bin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/ra-multiplex.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ra-multiplex.log</string>
    <key>KeepAlive</key>
    <true />
    <key>UserName</key>
    <string>[USERNAME]</string>
    </dict>
  </plist>

